:root
{
    --background-color: rgba(28, 30, 48, 1);
    --shadow-color: rgba(0, 0, 0, 0.11);
    --frame-color: rgba(46, 23, 96, 0.5);
    --text-color: rgba(255, 255, 255, 1);
}

body
{
   background-color: var(--background-color); 
}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
}

.roboto-mono-headertext
{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: var(--text-color);
}