/*

Embed code in the <head> of your html

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wdth,wght,GRAD@0,8..144,50..150,100..900,-50..100;1,8..144,50..150,100..900,-50..100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap');

*/

:root
{
    --background-color: rgba(28, 30, 48, 1);
    --text-color: rgba(255, 255, 255, 1);

    --Roboto-Mono: "Roboto Mono";
    --Roboto-Flex: "Roboto Flex";
    --Roboto-Serif: "Roboto Serif";
}

main
{
    height: 100%;
}
body
{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Roboto Mono'; 
    font-weight: normal;
}
#app
{
    height: 100%;
}
html
{
    height: 100%;
}
   

html, body, main
{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
    letter-spacing: .4em;
    font-size: 20px;
}